*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    text-align: center;
    margin-top: 30px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(MInimalist.png);
    background-size: cover;
    background-position: center;
    z-index: 99;
}

.logo{
    font-size: 30px;
    color: white;
    user-select: none;
}

.navigation a{
    position: relative;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.navigation .btnlogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin-left: 40PX;
    transition: .5s;
}

.navigation .btnlogin-popup:hover{
    background: #fff;
    color: #161616;
}


.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    outline: none;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    
}
.about-text{
    margin: 0 100px 0; 
}

.about-text h2{
    font-size: 60px;
}
.about-text h2 span{
    color: #0ef;
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    
}
.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.about-img img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}


.btn-box {
    text-decoration: none;
    width: 160px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin-left: 10PX;
    transition: .5s;
}
.btn-box:hover{
    background: #fff;
    color: #161616;
}
